#search {
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-family: "Open Sans";
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-bottom: 12px; 
  }
  
  #topics {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #topics li a {
    margin-top: -1px;
    margin: 5px;
    width: fit-content;
    background-color: #f6f6f6;
    padding: 12px; 
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 18px; 
    color: black;
    border-radius: 20px;
    padding: 10px;
    display: block;
  }
  
  #topics li a:hover:not(.header) {
    background-color: #eee;
  }